﻿@using Microsoft.AspNetCore.Authentication;
@{
    ViewData["Title"] = "Secure";
}
<h2>@ViewData["Title"]</h2>
<h3>This is a secure page.  You must be authenticated to see this.</h3>
@{
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;

    if (claimsIdentity != null)
    {

        var c = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Sid);

        if (c != null)
        {
                <h3>Found sid in claim</h3>
                <p>
                    @c.Type.ToString();
                    @c.Value.ToString();
                </p>
            }
        }
}
<h3>User claims</h3>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <div><a asp-action="CallApiUsingClientCredentials">Call API using client credentials</a></div>
        <div>
            <a asp-action="CallApiUsingUserAccessToken">Call API using user token</a>
        </div>
    }
</div>
<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
    <dt>access token</dt>
    <dd>@await ViewContext.HttpContext.GetTokenAsync("access_token")</dd>
    <dt>refresh token</dt>
    <dd>@await ViewContext.HttpContext.GetTokenAsync("refresh_token")</dd>
</dl>
